*{
    margin: 0;
    padding: 0;
}
body{
    color: #8c8c8c;
    font-family: 'Playfair Display', serif;
}
.common_margin{
    margin-top: 40px;
}


header{
    overflow: hidden;
}
#slider {
    overflow: hidden;
}

#intro {
    overflow: hidden;
}

#description {
    overflow: hidden;
}

#newslatter {
    overflow: hidden;
    background-color: #f3f3f3;
}

#lifestyle {
    overflow: hidden;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.logo {
    float: left;
    width: 20%;
}
.logo h1{
    text-transform: uppercase;
    color: #2d2d2d;
    font-size: 36px;
    font-weight: 100;
    font-family: 'Inconsolata', monospace;
    letter-spacing: 8px;
}

.nav {
    float: right;
    width: 60%;
}
.nav ul{
    list-style: none;
    float: right;
}
.nav ul li{
    float: left;
}
.nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 10px 40px;
    font-size: 18px;
}
.nav ul li:last-child a{
    padding-right: 0;
}
.nav ul li a:hover{
    color: black;
}

.slider {
}
.slider img{
    width: 100%;
}

.site_intro {
    padding: 0px 5%;
}
.site_intro h1{
    font-size: 40px;
    font-weight: 100;
    margin-top: 35px;
}
.site_intro p{
    font-size: 20px;
    line-height: 35px;
    padding: 20px 0;
}

.captiontag {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.blog {
    padding: 0px 0px;
}

.single_blog {
    width: 40%;
    float: left;
    margin: 65px 5%;
}

.blog_thumb {
}
.blog_thumb img{
    width: 100%;
}

.blog_data {
}
.blog_data h1{
    font-size: 40px;
}
.blog_data p{
    font-size: 20px;
    font-weight: 100;
    word-spacing: 5px;
    text-align: justify;
    padding: 10px 0px;
    
}

.newslatter_form {
    text-align: center;
    padding: 80px 0px;
}
.newslatter_form form{
    position: relative;
    width: 445px;
    margin: 0 auto;
}
.newslatter_form h1{
    color: #2d2d2d;
    font-size: 40px;
    padding: 20px 0px;
}
.newslatter_form form input{
    width: 435px;
    height: 40px;
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
    font-size: 24px;
}
.newslatter_form form button{
    background-color: transparent;
    position: absolute;
    border: none;
    right: 5px;
    top: 10px;
}

.lifestyle_blog {
}

.load_more {
    text-align: center;
    padding: 40px 0px;
}

.load_more_btn {
    background-color: transparent;
    text-transform: capitalize;
    border: 2px solid gray;
    font-size: 20px;
    padding: 15px 30px;
}

.footer_conntent {
}

.left_info {
    float: left;
    width: 50%;
    padding-bottom: 30px;
}
.left_info ul, .right_info ul{
    list-style: none;
}
.left_info ul li, .right_info ul li{
    float: left;
}
.left_info ul li a, .right_info ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #2d2d2d;
    padding: 15px;
    display: block;
}
.right_info ul{
    float: right;
}

.right_info {
    float: right;
    width: 50%;
    padding-bottom: 30px;
}
footer{
    overflow: hidden;
    background-color: #f3f3f3;
}
















